* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2ecc71;
    font-family: "Poppins", sans-serif;
}

.container {
    font-family: inherit;
    height: 300px;
    width: 600px;
    background-color: #c7ecee;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
}

.container .heading {
    font-size: 32px;
    font-weight: 600;
}

.dob {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

input {
    height: 39px;
    width: 310px;
    margin-top: 20px;
    font-size: 16px;
    padding: 0 10px;
}

button {
    height: 35px;
    width: 110px;
    margin-top: 20px;
    background-color: #badc58;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.result {
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
}